@import '~material-design-icons/iconfont/material-icons.css';
.material-icons {
    margin-top: 5px;
    font-weight: normal;
    font-style: normal;
    position: relative;
    top: 2px;
    font-size: inherit;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}